@use "../setting/setting";

.p-topics{
  padding: 40px 0;
  border-bottom: 1px solid #dadada;
}

  .p-topics__contents{
    margin-bottom: 16px;
  }

.p-topics__texts{
  span{
    color: setting.$color-main;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
    font-size: 24px;
    font-family: setting.$font-en;
    letter-spacing: 1px;
  }

  h2{
    font-size: 20px;
    padding-top: 4px;
    font-weight: bold;
  }

  p{
    padding-top: 12px;
  }

  table{
    margin: 16px 0;
    border-collapse: collapse;
    width: 100%;
    }

  tr{
    border-bottom: 1px solid #eaeaea;
  }

  th{
    color: setting.$color-main;

  }
}

@media not all and (min-width: 1024px){
  .p-topics__texts{
    th{
      display: block;
      padding: 8px 0 0;
    }

    td{
      display: block;
      padding: 0 0 8px;
    }
  }
}



@media (min-width: 768px){
  .p-topics__body{
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .p-topics__img{
    width: 50%;

    img{
      height: 100%;
    }
  }

  .p-topics__contents{
    width: 45%;
    padding-top: 16px;
  }
}

@media (min-width: 1024px){
  .p-topics{
    padding: 64px 0;
  }

  .p-topics__texts{
    span{
      font-size: 32px;
    }

    th{
      padding: 16px 0 16px 8px;
  }
}
}
